<!DOCTYPE html>
<html>
<head>
    <title>Clusters</title>
</head>
<body>
    <h1>Clusters</h1>
    <form method="post" action="{% url 'clusters' %}">
        {% csrf_token %}
        <label for="feature">Escolha uma feature:</label>
        <select id="feature" name="feature">
            {% for feature in allowed_columns %}
                <option value="{{ feature }}">{{ feature }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="clusters">Digite a quantidade de clusters que deseja visualizar:</label>
        <input type="number" id="clusters" name="clusters" min="1" value="1">
        <br>
        <input type="submit" value="Visualizar Clusters">
    </form>
    {% if graphic %}
        <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de Clusters">
    {% endif %}
</body>
</html>
