<!DOCTYPE html>
<html>
<head>
    <title>Importâncias para Machine Learning</title>
</head>
<body>
    <h1>Importâncias para Machine Learning</h1>
        <label for="model_type">Selecione o modelo de Machine Learning:</label>
        <select id="model_type" name="model_type">
            <option value="GradientBoostingRegressor">Gradient Boosting Regressor</option>
            <option value="RandomForestRegressor">Random Forest Regressor</option>
            <option value="ExtraTreesRegressor">Extra Trees Regressor</option>
            <option value="AdaBoostRegressor">AdaBoost Regressor</option>
            <option value="XGBRegressor">XGBoost Regressor</option>
            <option value="ElasticNet">ElasticNet</option>
        </select>
        <br>
        <input type="submit" value="Visualizar Gráfico de Importância">
    </form>
</body>
</html>
