<!DOCTYPE html>
<html>
<head>
    <title>Download da Tabela dos IPs do Período</title>
</head>
<body>
    <h1>Download da Tabela dos IPs do Período</h1>
    <form id="download-form" action="" method="POST">
        {% csrf_token %}
        <label for="file_type">Escolha o tipo de arquivo para baixar:</label>
        <select id="file_type" name="file_type">
            <option value="excel">Excel</option>
            <option value="csv">CSV</option>
        </select>
        <br>
        <input type="submit" value="Baixar Tabela de IPs">
    </form>
</body>
</html>
